<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false" autoReload="true" async="true" encoding="UTF-8">

  <targets>
    <target name="logconsole" xsi:type="Console" 
            layout="${date:format=HH\:mm\:ss} | ${level:padding=-5} | ${message}"/>
    <target name="logfile" xsi:type="File" createDirs="true" keepFileOpen="true"
            fileName="${gdc:logDirectory:whenEmpty=${baseDir}}/logs/${shortdate}/Whiteboard.log"
            archiveFileName="${gdc:logDirectory:whenEmpty=${baseDir}/logs/${shortdate}}/Whiteboard_{##}.log"
            archiveAboveSize="102400" archiveNumbering="Sequence" maxArchiveDays="30"
            layout="${longdate} | ${level:uppercase=false:padding=-5} | ${message} ${onexception:${exception:format=tostring} ${newline} ${stacktrace} ${newline}"/>
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logconsole"/>
    <logger name="*" minlevel="Debug" writeTo="logfile" />
  </rules>
</nlog>

//Log.cs set the log file output location
string logDir = Path.Combine(Environment.GetFolderPath(
    Environment.SpecialFolder.LocalApplicationData),
    Process.GetCurrentProcess().ProcessName);
NLog.GlobalDiagnosticsContext.Set("logDirectory", logDir);